<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
  </div>
      
    <!-- Row to display the latest Mars News-->
    <div class="row">
        <h3>Latest Mars News</h3>
        <h4>{{ mars_facts.title}}</h4>
        <p> {{mars_facts.paragraph}}</p> 
    </div>
<!-- Row to display the featured image and the current weather on mars -->
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Featured Mars Image</h3>
            <img src= {{ mars_facts.featured_mars_image }} width="700" height="700" />
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4"/> 
            <h3>Current Weather on Mars</h3>
            <p>{{ mars_facts.weather }}</p>
            <h3>Mars Facts</h3>
            {{ mars_facts.mars_facts|safe }} 
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h3>Mars Hemispheres</h3>
        <div class="col-md-6">
          <img src= {{ mars_facts.mars_hemispheres[0]["img_url"] }} alt="Cerberus Hemisphere" style="width:100%"/>
            <h3> {{ mars_facts.mars_hemispheres[0]["title"] }}</h3> 
        </div>
        <div class="col-md-6">
          <img src= {{ mars_facts.mars_hemispheres[1]["img_url"] }} alt="Schiaparelli Hemisphere" style="width:100%"/>
            <h3> {{ mars_facts.mars_hemispheres[1]["title"] }}</h3> 
        </div>
        <div class="col-md-6">
          <img src= {{ mars_facts.mars_hemispheres[2]["img_url"] }} alt="Syrtis Major Hemisphere" style="width:100%"/>
            <h3> {{ mars_facts.mars_hemispheres[2]["title"] }}</h3> 
        </div>
        <div class="col-md-6">
          <img src= {{ mars_facts.mars_hemispheres[3]["img_url"] }} alt="Valles Marineris Hemisphere" style="width:100%"/>
            <h3> {{ mars_facts.mars_hemispheres[3]["title"] }}</h3> 
        </div>
      </div>
      </div>
</body>
</html>
